@import 'https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700';
@import 'https://fonts.googleapis.com/css?family=Oswald:300,400|Ubuntu+Mono';
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  input[type="color"]::placeholder, input[type="date"]::placeholder, input[type="datetime"]::placeholder, input[type="datetime-local"]::placeholder, input[type="email"]::placeholder, input[type="month"]::placeholder, input[type="number"]::placeholder, input[type="password"]::placeholder, input[type="search"]::placeholder, input[type="tel"]::placeholder, input[type="text"]::placeholder, input[type="time"]::placeholder, input[type="url"]::placeholder, input[type="week"]::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.333em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans"; }

h1, h2, h3, h4, h5 {
  font-family: "Open Sans"; }

.header {
  position: relative;
  width: 100%;
  height: 150vh;
  background-image: url(../img/coffee-bg.jpeg);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden; }
  .header .header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #1dd2af;
    text-align: center;
    padding: 1rem 0 0rem;
    position: fixed;
    z-index: 3;
    transform-origin: 100%;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s; }
    .header .header-wrapper.get-small {
      padding: 1rem;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end; }
      .header .header-wrapper.get-small .title {
        height: 4rem;
        width: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 2rem; }
        .header .header-wrapper.get-small .title .header-title {
          margin-top: 0rem;
          font-size: 2.4rem;
          text-align: left; }
          .header .header-wrapper.get-small .title .header-title:hover {
            -webkit-filter: blur(0px);
            filter: blur(0px); }
            .header .header-wrapper.get-small .title .header-title:hover span {
              color: #FFDC00;
              -webkit-filter: blur(0px);
              filter: blur(0px); }
            .header .header-wrapper.get-small .title .header-title:hover ~ .small-title {
              height: 0px; }
            .header .header-wrapper.get-small .title .header-title:hover ~ .small-title2 {
              height: 25px; }
      .header .header-wrapper.get-small .nav-wrapper {
        position: relative;
        padding-top: 0rem;
        padding-bottom: 0rem;
        margin-bottom: 0rem;
        top: auto;
        width: auto; }
        .header .header-wrapper.get-small .nav-wrapper nav {
          transform: rotateZ(0deg);
          margin-top: 0rem;
          margin-bottom: 0rem;
          -webkit-transition: all 0.15s ease-out 0s;
          -moz-transition: all 0.15s ease-out 0s;
          transition: all 0.15s ease-out 0s; }
          .header .header-wrapper.get-small .nav-wrapper nav li {
            -webkit-transition: all 0.15s ease-out 0s;
            -moz-transition: all 0.15s ease-out 0s;
            transition: all 0.15s ease-out 0s;
            transform: rotate(0deg); }
            .header .header-wrapper.get-small .nav-wrapper nav li:hover {
              transform: rotateZ(0deg); }
    .header .header-wrapper .title {
      position: relative;
      left: 0;
      width: 100%;
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s; }
    .header .header-wrapper .header-title {
      font-family: "Open Sans";
      font-size: 7rem;
      font-weight: 300;
      color: white;
      margin-bottom: -1rem;
      -webkit-filter: blur(1px);
      filter: blur(1px);
      cursor: pointer;
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s; }
      .header .header-wrapper .header-title span {
        color: rgba(0, 0, 0, 0.3);
        -webkit-filter: blur(2px);
        filter: blur(2px);
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s; }
      .header .header-wrapper .header-title:hover {
        -webkit-filter: blur(0px);
        filter: blur(0px); }
        .header .header-wrapper .header-title:hover span {
          color: #FFDC00;
          -webkit-filter: blur(0px);
          filter: blur(0px); }
        .header .header-wrapper .header-title:hover ~ .small-title {
          height: 25px; }
        .header .header-wrapper .header-title:hover ~ .small-title2 {
          height: 0px; }
    .header .header-wrapper .small-title {
      background: #fff;
      height: 0;
      overflow: hidden;
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s; }
      .header .header-wrapper .small-title p {
        color: #444;
        letter-spacing: 1px;
        font-size: 0.9rem;
        line-height: 25px; }
    .header .header-wrapper .small-title2 {
      height: 25px;
      overflow: hidden;
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s; }
      .header .header-wrapper .small-title2 p {
        color: rgba(0, 0, 0, 0.5);
        -webkit-filter: blur(1px);
        filter: blur(1px); }
    .header .header-wrapper .nav-wrapper {
      transform: skewY(-5deg);
      background: #1dd2af;
      bottom: 1rem;
      left: 0rem;
      top: 0rem;
      width: 100%;
      padding-top: 12rem;
      padding-bottom: 3rem;
      margin-bottom: 3rem;
      z-index: -2;
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s;
      position: absolute; }
      .header .header-wrapper .nav-wrapper nav ul li {
        display: inline-block;
        transform: rotateZ(0deg);
        margin: 0rem 2rem 0;
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s; }
        .header .header-wrapper .nav-wrapper nav ul li:hover {
          transform: scale(1.2); }
          .header .header-wrapper .nav-wrapper nav ul li:hover a {
            color: #FFDC00; }
        .header .header-wrapper .nav-wrapper nav ul li a {
          font-size: 1.4rem;
          color: white;
          letter-spacing: 2px;
          font-weight: lighter; }
  .header .header-content {
    background: rgba(51, 51, 51, 0.5);
    height: 100vh;
    padding: 25rem 6rem;
    color: #fff;
    margin: 0 auto;
    z-index: -1; }

.intro {
  height: 1000px; }
  .intro .intro-wrapper {
    width: 100%;
    height: 140vh;
    background: #fff; }
