doctype html
html
  head
    include ../_includes/head
  body
    header
      include ../_includes/header
    
    main
      include ../_includes/intro
    
      
    //- #main-content(style='margin: 0 4rem; padding: 25rem 0')
    //-   h1 μdelta miniii
    //-   span.sub-title custom websites
    //-   p.small-p coming soon
    //-   form(action='MAILTO:donner@udelta.com', method='post', enctype='text/plain')
    //-     | Contact:
    //-     br
    //-     br
    //-     input.form-input(type='text', name='name', placeholder='Name')
    //-     br
    //-     input.form-input(type='text', name='mail', placeholder='Email')
    //-     br
    //-     textarea(name='comment', placeholder='Message')
    //-     br
    //-     br
    //-     input.form-button(type='submit', value='Send')
    //-     input.form-button(type='reset', value='Reset')
