meta(charset='utf-8')
meta(name='description', content='udelta - custom handmade websites.')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')

title udelta web 2

link(rel='stylesheet', href='css/main.css', type='text/css')

script(type='text/javascript' src='js/jquery.min.js')
script(type='text/javascript' src='js/script.js')
